[submodule "colour_demosaicing/resources/colour-demosaicing-tests-datasets"]
	path = colour_demosaicing/resources/colour-demosaicing-tests-datasets
	url = https://github.com/colour-science/colour-demosaicing-tests-datasets.git
[submodule "colour_demosaicing/resources/colour-demosaicing-examples-datasets"]
	path = colour_demosaicing/resources/colour-demosaicing-examples-datasets
	url = https://github.com/colour-science/colour-demosaicing-examples-datasets.git
