*.egg-info
*.pyc
*.pyo
.DS_Store
.coverage*
.fleet
.idea
.ipynb_checkpoints
.python-version
.sandbox
.vs
.vscode

__pycache__

build
colour_demosaicing.egg-info
dist
docs/_build
docs/generated
uv.lock
